@model PassGen
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Create a new Passcode!</h1>
    <p>Passcode# @Model.Count</p>
    <form action="">
        <input type="text" value="@Model.RandPasscode">
        <input type="submit" value="Generate">
    </form>

</div>
